.activity-title{
    color: white;
}
.activity{
    background-color: rgb(20, 20, 20);
    padding: 10px 0;
}

.activity-container{
    width: 50rem;
    display: flex;
    justify-content: space-between;
}

.act-photo{
    color: white;
}
.act-name{
    font-size: 30px;
    color: brown;
}


@media (max-width:768px){
    .activity{
        width: 35rem;
    }
    .activity-container{
        flex-direction: column;
        flex-wrap: wrap;
        width: 35rem;
    }
}
@media (max-width:425px){
    .activity{
        width: 16rem;
    }
    .activity-container{
        flex-direction: column;
        flex-wrap: wrap;
        width: 16rem;
    }
}
@media (max-width:375px){
    .activity{
        width: 16rem;
    }
    .activity-container{
        flex-direction: column;
        flex-wrap: wrap;
        width: 16rem;
    }
}
@media (max-width:320px){
    .activity{
        width: 16rem;
    }
    .activity-container{
        flex-direction: column;
        flex-wrap: wrap;
        width: 16rem;
    }
}