.cardComment-img-name{
    display: flex;
    justify-content: center;
}
.comment-user{
    align-self: center;
    color: white;
}

.cardComment-button{
    margin: 0 10px;
    padding: 5px 15px;
    font-size: 23px;
    font-weight: bold;
    border-radius: 5px;
}
.cardComment-container{
    overflow: hidden;
    margin: 10px 0 ;
}
.comment-img{
    width: 40px;
    margin: 8px;
}

.comment-content{
    font-weight: 400;
    margin: 8px;
    color: white;
    font-size: 25px;
    
  }
 
.comment-card{
    width: 50rem;
    background-color: rgb(20, 20, 20);
    
}


@media (max-width:768px){
    .comment-card{
        width: 35rem;
    }
}
@media (max-width:425px){
    .comment-card{
        width: 16rem;
    }
}
@media (max-width:375px){
    .comment-card{
        width: 16rem;
    }
}
@media (max-width:320px){
    .comment-card{
        width: 16rem;
    }
}