.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
    top: 0;
    height: 11.6vh;
    background-color: transparent;
    background-color: rgb(255, 209, 124);
}



.Header-nav{
    display: flex;
    background-color: transparent;
    
}
.Header-avatar{
    height: 80px;
    width: 80px;

    margin: 30px 30px 0 0;
    background-color: transparent;
}

.Header-links{
    display: flex;
    align-items: center;
    margin-left: 20px;

    background-color: transparent;
}

.Home, .Cities, .NewCity{
    text-decoration: none;
    color: rgba(141, 211, 211);
    font-size: 23px;
    margin: 0 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(244, 89, 0);

}

.Home:hover, .Cities:hover, .NewCity:hover{
    color: rgb(0, 0, 0);

    background-color:  rgba(141, 211, 211);
    box-shadow: none;
}

.Header-logo{
    font-size: 40px;
    background-color: rgb(255, 209, 124);
    margin-left: 20px;
    color: rgb(244, 89, 0);
    text-shadow: 1.5px 1.5px 2px rgb(101, 37, 1);
    -webkit-text-stroke: 0.5px black;
    background-color: transparent;
}

.Header-burger{
    width: 40px;
    background-color: transparent;
    display: none;
}

#active{
    display: none;
}


.active{
    transform: translate(100vw);
}

#active{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 12vh;
    left: 0;
    background-color: rgba(0, 0, 0, 0.685);
    display: flex;
    flex-direction: column;
    transition: all.5s ease;

}

@media (min-width:768px){
    .boton-burger{
        display: none;
    }
}

@media (max-width:426px){
    .Header-logo{
        font-size: 35px;
        margin-left: 10px;
    }
    .Header-links{
        display: none;
    }
    .Header-burger{
        display:block;
    }
    .Home, .Cities, .NewCity{
        margin: 35px 0 0 0;
        background-color: transparent;
        box-shadow: none;
        font-weight: bold;
    }
    .Home:hover, .Cities:hover, .NewCity:hover{
        background-color: white;
    }
    .Header-avatar{
        width: 60px;
        height: 60px;
        margin-top: 15px;
    }
}

@media (max-width:375px){
    .Header-logo{
        font-size: 25px;
        margin-left: 10px;
    }

}

@media (max-width:320px){
    .Header-logo{
        font-size: 25px;
        margin-left: 10px;
    }
    .Header-avatar{
        height: 60px;
        width: 60px;
    }
}

