.new-city-container{
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nc-title{
    margin-top: 60px;
    color: rgb(244, 89, 0);
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 2px black;
}

.nc-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.nc-label{
    width: 100%;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nc-input{
    width: 100%;
    background-color: rgb(255, 209, 124);
    height: 22px;
}

@media (max-width:426px){
    .nc-form{
        width: 290px;
    }
}
